body {
    background-color: #efe9dc;
    color: #bf5841;
    font-size: 3vmin;
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    input {
        font-size: 3vmin;
    }

    a {
        color: #bf5841;
        text-decoration: underline;
    }

    a:hover {
        color: #f23030;
        text-decoration: none;
    }

    header {
        a {
            color: #bf5841;
            text-decoration: none;
        }

        #head {
            background-color: #f2b680;
            text-align: center;
            font-size: 14vmin;

            #menu {
                position: absolute;
                font-size: 3vmin;
                right: 3vmax;
                top: 9vmin;
            }
        }

        margin-top: 2vmin;
        margin-bottom: 2vmin;
        margin-left: 3vmin;
        margin-right: 3vmin;
    }

    #banner {
        height: 50vh;
        width: 100%;
        background-image: url(../imgs/pizza_banner.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-height: 3032px;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #main-block {
        background-color: #f2b680;
        text-align: center;
        margin-bottom: auto;
    }

    #table {
        background-color: #f2b680;
        text-align: center;
        border-color: #f23030;

        #titles {
            font-size: 4vmin;
            th {
                border-bottom: solid black;
            }
        }

        tbody {
            font-size: 3vmin;
            text-align: center;
        }

        button {
            font-size: 3vmin;
            float: right;
            margin-right: 2vmin;
            margin-bottom: 1vmin;
            background-color: #efe9dc;
            color: #bf5841;
            border: 0.01vmin solid #f23030;
        }

        button:hover {
            font-size: 3vmin;
            float: right;
            margin-right: 2vmin;
            margin-bottom: 1vmin;
            border: 0.01vmin solid #f23030;
            background-color: #bf5841;
            color: #efe9dc;
        }

        #checkbox {
            border: 0.01vmin solid #f23030;
        }

        #checkbox:checked {
            border: 0.01vmin solid #f23030;
            background-color: #bf5841;
        }
    }

    footer {
        margin-top: auto;
        text-align: center;
        position: relative;
        width: 100%;
        bottom: 0px;

        a {
            margin-inline: 10vmax;
            color: #bf5841;
            text-decoration: none;
        }
    }
}
